@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@mixin flex($direction){
    display: flex;
    flex-direction: $direction;
}

$dark-cyan:hsl(185, 75%, 39%);
$very-dark-desaturated-blue:hsl(229, 23%, 23%);
$dark-grayish-blue:hsl(227, 10%, 46%);
$dark-gray:hsl(0, 0%, 59%);
$font-size:18px;

body{
    background-color: $dark-cyan;
    font-family: 'Kumbh Sans', sans-serif;
    @include flex(column);
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}